<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :group_name %>
    <%= f.hidden_field :owner_id, value: current_user.id %>
  </div>
 </br>
  <div>
    <%= f.button :submit, :class => 'btn-primary'  %>
  </div>
<% end %>
