<%# add navigation links to this file %>
<% if false %>
  <li id="groups-menu" class="dropdown">
  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
       Groups <b class="caret"></b>
    </a>
  	<ul class="dropdown-menu">
  		<li><%= link_to 'My Groups', my_groups_path(current_user) %></li>
  		<li><%= link_to 'Create a Group', new_group_path  %></li>
  	</ul>
  </li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Create Event', new_event_path %></li>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <li><%= link_to 'Admin', users_path %></li>
  <% end %>
<% end %>
